<p>parentofmessage works!</p>
<p>コンポーネントから</p>
<div id="body_">
  <h1>{{ title }}</h1>
  <!-- app/messege にある　コンポーネントへ値を渡して表示 -->
  <!-- [渡し先のコンポーネントのプロパティ（ターゲット）] = 値として渡す呼び出し元のプロパティ -->
  <app-message [content]="message"> </app-message>
  <a>-----------------</a>
  <a
    >コンポーネントを呼び出す際にID
    を指定して、そのIDのコンポのイベント関数をボタンで実施</a
  >
  <input #input1 type="text" />
  <button (click)="list1.push(input1.value)">push</button>
  <button (click)="list1.pop()">pop</button>

  <app-message #list1 [content2]="messageArray" (action)="doClick($event)">
  </app-message>
  <p>-----------------</p>
  <p>
    子コンポーネントのオブジェクトをインポートして親コンポーネント側でイベントの実行を行う
  </p>
  <input type="text" [(ngModel)]="input2" />
  <button (click)="pushNgModule()">push (ngModel)</button>
  <button (click)="popNgModule()">pop (ngModel)</button>

  <app-message
    #listNgModule
    [content3]="messageArray2"
    (action)="doClick($event)"
  >
  </app-message>

  <p>
    pタグに　作成しておいたディレクティブを属性として入れることでスタイルが適用される
  </p>
  <p appMystyle>this is Mystyle</p>
  <p appMystyle c="white" bg="red">this is Mystyle</p>
</div>
