.listItem {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.bookImgFrame {
  text-align: center;
}
.bookImg {
  border: 1px solid gray;
}
button {
  margin: 20px;
}
