<!-- ヘッダーのツールバーの作成 -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-icon-button routerLink=""> <mat-icon>home</mat-icon></a>
    <span style="flex: auto"></span>
    <span>Custom Toolbar</span>
    <span style="flex: auto"></span>
    <a mat-icon-button><mat-icon>menu</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>
<nav>
  <div>
    <a routerLink="">HOME</a>|
    <a [routerLink]="['materialCard']">MaterialCard</a>|
    <a [routerLink]="['material']">Material</a>|
    <a [routerLink]="['hello', { name: 'taro' }]">HELLO</a>|
    <a [routerLink]="['hello']" [queryParams]="{ id: 123, name: 'Kirby' }"
      >HELLO Query </a
    >|
    <a [routerLink]="['msg', '123']">Message</a>
    <a [routerLink]="['helloclientserve']">HttpClient Hello</a>
  </div>
</nav>
<div class="contant">
  <!-- ルーターに紐ついた処理 -->
  <router-outlet
    ><p>現在の階層 {{ message }}</p></router-outlet
  >
  <router-outlet><p>Router-Outlet</p></router-outlet>
  <hr />
  <mat-divider></mat-divider>
  <p>うえはルーター部分</p>
  <p (click)="doClick()">This is angular sample page.</p>
  <p></p>
</div>
